@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400);
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Bungee+Shade');

/*nav-barre
* {
  box-sizing: border-box; /* pour maîtriser width et flex-basis *
}*/
:root {
  --highlight1: #FF9933;
  --highlight2: #FFF734;
  --highlight3: #24C8F5;
  --highlight4: #48D450;
  --white: white;
  --grey1: #333333;
}

select {
  border-radius: 0px;
  background-color: rgb(255, 216, 0);
  border: 0px;
  padding: 7px;
  margin: 7px 0px;
}
button {
  border: 2px solid black;
  background-color: unset;
  box-shadow: 0px 0px 4px black;
}
.fooChimere h2 {
  font-size: 16px;
}
h2#nom {
  position: absolute;
  text-align: right;
  right: 30px;
  top: 50vh;
}
h2.titre1 {
  font-family: 'Bungee Shade', cursive;
  color: white;
  position: absolute;
  top: 1%;
  left: 5px;
  z-index: 10;
  /*font-family: 'Bungee Outline', cursive;*/
}
h2.titre2 {
  font-family: 'Bungee Shade', cursive;
  color: black;
  position: absolute;
  top: 6%;
  left: 5px;
  z-index: 10;
  /*font-family: 'Bungee Outline', cursive;*/
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
img.picto {
  margin: 0px 5px;
  height: 24px;
}
img.chim {
  pointer-events: none;
  user-select: none;
  /*display: none;*/
}
img.mirror {
  transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}
img#tex {
  width: 100%;
  height: auto;
  pointer-events: none;
}
.tableau {
}
.content {
  overflow: inherit;
}
.transf .content {
  padding-bottom: 0px;
}
.fixed {
  width: 100%;
  position: relative;
}

/* MENU DE GAUCHE */
.parametrage {
  position: absolute;
  z-index: 20;
  top: 15%;
  left: 0px;
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: column;
}
button.parametres {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  border-left: 0px;
}
button.parametres:nth-of-type(2) {
  margin-bottom: 30px;
}
button.parametres:hover, button.parametres:active {
  background-color: rgb(255, 216, 0);
}
/* FIN */
.fixed img {
  margin: 0px;
}
.transf-btn {
  width: auto;
  margin: auto;
  background-color: unset;
  border: unset;
  cursor: pointer;
  position: relative;
}
.canvas {
  position:absolute;
  user-select: none;
}
.draggable {
  cursor: grab;
}
.draggable:hover .canvas {
  visibility: visible;
}
.draggable:hover {
  background-image: radial-gradient(
      circle,
      rgba(255, 216, 0, 1),
      rgba(255, 216, 0, 0),
      rgba(255, 216, 0, 0)
    );
}
.draggable:hover img.chim {
  opacity: 0.7;
}

/* Module de changement de GIF */
.control {
  /*display: none;*/
  z-index: 5;
  height: 0px;
  width: 0px;
}
.draggable:hover .control {
  display: block;
}
button.change {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 10px;
  background-color: white;
}
button.change:hover, button.change:active {
  background-color: rgb(255, 216, 0);
}
.parametres img {
  height: 100%;
  width: auto;
}
/* > MOSAIQUE de selection */
.mosaique {
  /*display: none; onclick sur button.change deviens flex */
  width: 300px;
  max-height: 284px;
  overflow-x: hidden;
  top: 90px;
  position: absolute;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 20;
}
.mosa-left {
  left: 0px;
}
.mosa-right {
  right: 0px;
}
button.mosa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 90px;
  width: 90px;
  margin: 2px;
  background-color: white;
  box-shadow: 0px 0px 4px grey;
  border-radius: 10px;
}
img.mosa {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.mCustomScrollBox, .mCSB_container {
  width: inherit;
  height: inherit;
  flex-wrap: wrap;
  display: flex;
}
.mCSB_container {
  margin-right: 10px !important;
}
/*button.mosa::before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-right: 10px solid white;
  padding: 0px;
}
button.mosa:last-child::before {
  border-right: none;
}*/
/* FIN */

.aide {
  position: absolute;
  z-index: 30;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructions {
  z-index: 30;
  visibility: hidden;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(255, 216, 0);

}
/*  */

/* ANCIENNE CONFIG
.transf .footer-button, .transf .footer-div {
  height: 30px;
  padding: 0px 5px;
}

.aide {
  width: 30px;;
  padding: 7px 7px 7px 15px;
  position: relative;
}
.aide p.instructions {
  visibility: hidden;
}
.aide:hover p.instructions {
  visibility: visible;
}
.footer-button:hover, .aide:hover {
  background-color: var(--highlight1);
  color: var(--white);
}
.fooChimere .footer-button:hover {
  background-color: none;
  color: inherit;
}
.fooChimere {
  position: relative;
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.mselect {
  margin-right: 5px;
}
*/
